{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'produccion/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'produccion/css/estilos.css' %}">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }

        main {
            flex: 1; /* Hace que main ocupe el espacio restante */
        }

        .navbar-brand img {
            height: 50px; /* Ajusta el tamaño según sea necesario */
            margin-right: 10px; /* Espacio entre el logo y el texto */
        }
    </style>

    <title>{% block title %}Producción{% endblock %}</title>
</head>
<body>
    <header class="bg-primary text-white text-center py-3 mb-4">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'produccion/img/marcavertical.png' %}" alt="Logo">
                    Sistema de Producción
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'registro' %}">Registrar Producción</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'consulta' %}">Consultar Producción</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'modificar' %}">Modificar Producción</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'logout' %}">Cerrar Sesión</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'login' %}">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'crear_usuario' %}">Crear Usuario</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-dark text-white text-center py-3 mt-4">
        <div class="container">
            <p>&copy; 2024 Empresa de Producción</p>
        </div>
    </footer>

    <script src="{% static 'produccion/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
