{% extends 'base.html' %}

{% block title %}Consulta de Producción{% endblock %}

{% block content %}
<h1>Consulta de Producción</h1>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Planta</th>
            <th>Litros Producidos</th>
            <th>Fecha</th>
            <th>Turno</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for registro in registros %}
        <tr>
            <td>{{ registro.producto.nombreProducto }}</td>
            <td>{{ registro.planta.nombrePlanta }}</td>
            <td>{{ registro.litros_producidos }}</td>
            <td>{{ registro.fecha_produccion }}</td>
            <td>{{ registro.get_turno_display }}</td>
            <td>{{ "Anulado" if registro.anulado else "Activo" }}</td>
            <td>
                <a href="{% url 'modificar_registro' registro.id %}">Modificar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
