<!-- produccion/lista_registros.html -->

{% extends 'produccion/base.html' %}
{% block title %}Lista de Registros{% endblock %}

{% block content %}
  <h2>Mis Registros de Producción</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Código Combustible</th>
        <th>Litros Producidos</th>
        <th>Fecha de Producción</th>
        <th>Turno</th>
        <th>Hora de Registro</th>
        <th>Operador</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for registro in registros %}
      <tr>
        <td>{{ registro.producto.codigo }}</td>
        <td>{{ registro.litros_producidos }}</td>
        <td>{{ registro.fecha_produccion }}</td>
        <td>{{ registro.get_turno_display }}</td>
        <td>{{ registro.hora_registro|date:"Y-m-d H:i:s" }}</td>
        <td>{{ registro.operador.username }}</td>
        <td>
          <a href="{% url 'modificar_registro' registro.id %}" class="btn btn-primary">Modificar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
